# Ignore Environment Files (Where secrets usually live)
.env
.env.local

# Ignore Build Files (Binaries)
*.exe
*.dll
*.so
*.dylib
main
test

# Ignore IDE Settings
.vscode/
.idea/

# Ignore Dependency Folders (Go specific)
vendor/